:root {
    /* SIZES */
    --mv_navbar-top: 30px;
    /* COLORS */
    --mv_txt-white: #ffffff;
    --mv_bgc-orange: #cd3d0f;
}

/* COMMON */
html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.ms_txt-white {
    color: var(--mv_txt-white);
}

.ms_p-rel {
    position: relative;
}

.ms_layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
}

div.ms_btn-blue {
    display: inline-block;
    border: 2px solid #2d64e6;
    border-radius: 22px;
    background-color: #2d64e6;
}

div.ms_btn-blue a {
    color: var(--mv_txt-white);
    display: inline-block;
    border: 2px solid #2d64e6;
    background-color: #2d64e6;
    padding: .2rem .7rem;
    border-radius: 20px;
}

div.ms_btn-blue:hover a {
    border: 2px solid #ffffff;
}

/* HEADER */
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 600;
    display: inline-block;
}

.dropdown-toggle::after {
    display: none;
}

img.ms_chevron-down {
    width: 10px;
}

div.ms_navbar-top {
    height: var(--mv_navbar-top);
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

div.ms_navbar-top img {
    width: 80px;
}

nav.ms_fixed {
    top: 30px;
}

div.ms_btn-black {
    display: inline-block;
    border: 2px solid black;
    border-radius: 22px;
    background-color: black;
}

div.ms_btn-black a {
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    padding: .2rem .7rem;
    border-radius: 20px;
}

div.ms_btn-black:hover a {
    border: 2px solid rgb(255, 255, 255);
}

header li.nav-item.dropdown {
    margin-left: .7rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
}

/* DROPDOWN MENU */
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: calc(var(--mv_navbar-top) + 74px);
    border-radius: 0;
    border: none;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li {
    display: inline-block;
    text-align: center;
}

img.ms_dropdown-ico {
    width: 70px;
}

hr.dropdown-divider {
    width: 100vw;
    margin: 0;
}

ul.ms_games-links {
    list-style: circle;
}

/* ul.dropdown-menu.show {
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    top: 56px;
} */

/* JUMBOTRON */
section.ms_jumbotron {
    margin-top: 100px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_jumbo-container {
    padding: 25rem 0 3rem 0;
}

div.ms_jumbo-img-wrapper {
    width: 60%;
    margin-bottom: 2rem;
}

div.ms_jumbo-title-wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

div.ms_jumbo-txt-wrapper p {
    margin-bottom: 2rem;
    font-weight: 500;
}

div.ms_jumbo-txt-wrapper {
    margin-bottom: 2rem;
}

div.ms_jumbo-btn {
    display: inline-block;
    border: 2px solid var(--mv_bgc-orange);
    border-radius: 22px;
    background-color: var(--mv_bgc-orange);
}

div.ms_jumbo-btn a {
    color: var(--mv_txt-white);
    display: inline-block;
    border: 2px solid var(--mv_bgc-orange);
    background-color: var(--mv_bgc-orange);
    padding: .2rem .7rem;
    border-radius: 20px;
}

div.ms_jumbo-btn:hover a {
    border: 2px solid #000000;
}

/* SUB JUMBOTRON */

div.ms_sub-jumbo-img {
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s;
}

div.ms_sub-jumbo-img:hover {
    transform: translateY(-15px);
}

.ms_active {
    outline: 3px solid #0072ce;
    offset: 3px;
}

/* CONSOLE */
div.ms_section-txt-wrapper {
    font-weight: 600;
}

div.ms_section-txt-wrapper h6 {
    text-transform: uppercase;
    color: #0072ce;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

div.ms_section-txt-wrapper h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

div.ms_section-txt-wrapper p {
    font-size: 1.2rem;
    color: #727272;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

div.ms_hidden-txt-wrapper {
    font-weight: 600;
}

.ms_brd-b-active {
    border-bottom: 2px solid #0072ce;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

div.ms_card-wrapper.ms_p-rel:hover .ms_layover {
    display: none;
}

/* 2TH JUMBOTRON */
section.ms_2th-jumbotron {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_2th-jumbo-container {
    padding: 3rem 0 3rem 0;
}

/* NEW RELEASE */
section.ms_new-release {
    background-color: #1f1f1f;
    font-weight: 600;
}

section.ms_new-release p.ms_subtitle {
    font-size: 1.5rem;
}

section.ms_new-release .ms_img-wrapper {
    overflow: hidden;
    border-radius: 20px;
}

/* PLAYSTATION 4 */

/* PLAYSTATION PLUS */
section.ms_playstation-plus {
    background-color: #bebcbb;
}

div.ms_ps-plus-img {
    width: 60%;
}

section.ms_playstation-plus p {
    margin: 1.5rem 0 2rem 0;
}

div.ms_btn-grey {
    display: inline-block;
    border: 2px solid #d9dadc;
    border-radius: 22px;
    background-color: #d9dadc;
}

div.ms_btn-grey a {
    color: #2d64e6;
    display: inline-block;
    border: 2px solid #d9dadc;
    background-color: #d9dadc;
    padding: .2rem .7rem;
    border-radius: 20px;
}

div.ms_btn-grey:hover a {
    border: 2px solid #2d64e6;
}

/* PLAYSTATION STORE */

/* PLAYSTATION NOW */
section.ms_playstation-now {
    background-color: #161c3b;
}

div.ms_ps-now-img {
    width: 60%;
}

section.ms_playstation-now p {
    margin: 1.5rem 0 2rem 0;
}

div.ms_btn-white {
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 22px;
    background-color: #ffffff;
}

div.ms_btn-white a {
    color: #000000;
    display: inline-block;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: .2rem .7rem;
    border-radius: 20px;
}

div.ms_btn-white:hover a {
    border: 2px solid #000000;
}

/* SOCIAL */
section.ms_social h3 {
    font-weight: 600;
}

/* FOOTER */
footer {
    background-color: #00439c;
}

footer a {
    color: #ffffff;
}

footer li {
    margin-bottom: .5rem;
}

.ms_footer-play-logo {
    width: 100px;
    position: relative;
}

.ms_footer-play-logo span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: .7rem;
}

.ms_footer-globe-logo img {
    width: 20px;
}


.ms_footer-sie-logo img {
    width: 150px;
}

a.ms_info {
    text-decoration: underline;
}