:root {
    /* SIZES */
    --mv_jumbotron-height: 800px;
    /* COLORS */
    --mv_txt-white: #ffffff;
}

/* COMMON */
html {
    font-size: 100%;
}

img {
    width: 100%;
}

.ms_txt-white {
    color: var(--mv_txt-white);
}

/* HEADER */
div.ms_navbar-top {
    height: 30px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

div.ms_navbar-top img {
    width: 80px;
}

nav.ms_fixed {
    top: 30px;
}

/* JUMBOTRON */
section.ms_jumbotron {
    margin-top: 100px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*test*/
    height: var(--mv_jumbotron-height)
}


.ms_jumbo-container-flex {
    width: 100%;
    height: var(--mv_jumbotron-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* SUB JUMBOTRON */
section.ms_sub-jumbotron img {
    width: 100%;
}

/* CONSOLE */

/* 2TH JUMBOTRON */
section.ms_2th-jumbotron {
    margin-top: 100px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*test*/
    height: var(--mv_jumbotron-height)
}

/* NEW RELEASE */
section.ms_new-release {
    background-color: #1f1f1f;
}

/* PLAYSTATION 4 */

/* PLAYSTATION PLUS */
section.ms_playstation-plus {
    background-color: #bebcbb;
}